[Unit]
Description=Deslicer daemon
After=syslog.target network.target auditd.service

[Service]
#Type=forking
EnvironmentFile=/etc/sysconfig/deslicer
ExecStart=/usr/bin/deslicerd -d $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
User=deslicer
KillMode=process

[Install]
WantedBy=multi-user.target
