[Unit]
Description=Deslicer daemon
After=syslog.target network.target auditd.service

[Service]
EnvironmentFile=/etc/sysconfig/deslicerd
ExecStart=/usr/bin/deslicerd -d $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
